/* line 2, ../../compass/sass/styles.scss */
body {
  background-color: #f7f7f7;
}

/* line 6, ../../compass/sass/styles.scss */
.App {
  font-family: 'Montserrat', sans-serif;
}

/* line 15, ../../compass/sass/styles.scss */
.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  font-size: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.88);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
}

/* line 35, ../../compass/sass/styles.scss */
.header-brand {
  position: absolute;
}
/* line 37, ../../compass/sass/styles.scss */
.header-brand a {
  text-decoration: none;
  color: #000;
}

/* line 43, ../../compass/sass/styles.scss */
.header-menu-items {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* line 50, ../../compass/sass/styles.scss */
.menu-item {
  padding: 20px 20px;
  letter-spacing: 2px;
}
/* line 54, ../../compass/sass/styles.scss */
.menu-item a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
/* line 59, ../../compass/sass/styles.scss */
.menu-item:hover {
  cursor: pointer;
}

/* line 64, ../../compass/sass/styles.scss */
.active-home {
  border-bottom: 3px solid #fff;
}

/* line 68, ../../compass/sass/styles.scss */
.active-experience {
  border-bottom: 3px solid #BA160C;
}

/* line 72, ../../compass/sass/styles.scss */
.active-education {
  border-bottom: 3px solid #FFA630;
}

/* line 76, ../../compass/sass/styles.scss */
.active-projects {
  border-bottom: 3px solid #7CA982;
}

/* line 80, ../../compass/sass/styles.scss */
.active-contact {
  border-bottom: 3px solid #3993DD;
}

/* line 86, ../../compass/sass/styles.scss */
.home {
  padding-top: 54px;
}

/* line 90, ../../compass/sass/styles.scss */
.home-container {
  height: 600px;
  background: url("../images/pct.jpg") no-repeat center;
  background-size: cover;
  font-size: 70px;
  color: #fff;
}

/* line 100, ../../compass/sass/styles.scss */
.home-text {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

/* line 105, ../../compass/sass/styles.scss */
.pusher {
  height: 100px;
}

/* line 110, ../../compass/sass/styles.scss */
.about-menu {
  background-color: #E6EBE0;
  display: flex;
  height: 40px;
  text-decoration: none;
  flex-direction: row;
  justify-content: space-around;
}

/* line 119, ../../compass/sass/styles.scss */
.about-container {
  margin: auto;
  max-width: 500px;
  background-color: #fff;
  padding: 50px;
}

/* line 126, ../../compass/sass/styles.scss */
.skills {
  margin-top: 80px;
}

/* line 130, ../../compass/sass/styles.scss */
.skills-container {
  display: flex;
  text-decoration: none;
  flex-direction: row;
  justify-content: space-around;
}

/* line 137, ../../compass/sass/styles.scss */
#skills-title {
  margin: 20px;
  text-align: center;
}

/* line 142, ../../compass/sass/styles.scss */
.skills-1 div {
  padding: 3px;
}

/* line 146, ../../compass/sass/styles.scss */
.skills-2 div {
  padding: 3px;
}

/* line 151, ../../compass/sass/styles.scss */
.experience, .education, .projects, .contact {
  padding-top: 54px;
}

/* line 156, ../../compass/sass/styles.scss */
.section-header {
  width: 150px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 0 2px rgba(255, 255, 255, 0.8);
  border-radius: 0 0 5px 5px;
}

/* line 169, ../../compass/sass/styles.scss */
.experience-container, .edu-container, .projects-container, .contact-container {
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.12), 1px 0 2px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
}

/* line 173, ../../compass/sass/styles.scss */
.experience-container {
  border-top: 5px solid #BA160C;
  background-color: rgba(186, 22, 12, 0.3);
}

/* line 179, ../../compass/sass/styles.scss */
#experience-header {
  background-color: #BA160C;
}

/* line 185, ../../compass/sass/styles.scss */
.edu-container {
  border-top: 5px solid #FFA630;
  background-color: rgba(255, 166, 48, 0.3);
}

/* line 190, ../../compass/sass/styles.scss */
#education-header {
  background-color: #FFA630;
}

/* line 194, ../../compass/sass/styles.scss */
.projects-container {
  border-top: 5px solid #7CA982;
  min-height: 400px;
  background-color: rgba(124, 169, 130, 0.3);
}

/* line 200, ../../compass/sass/styles.scss */
#projects-header {
  background-color: #7CA982;
}

/* line 204, ../../compass/sass/styles.scss */
.contact-container {
  border-top: 5px solid #3993DD;
  min-height: 800px;
  background-color: rgba(57, 147, 221, 0.3);
}

/* line 210, ../../compass/sass/styles.scss */
#contact-header {
  background-color: #3993DD;
}

/* line 214, ../../compass/sass/styles.scss */
.item-wrapper {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

/* line 221, ../../compass/sass/styles.scss */
.work-item, .edu-item {
  min-height: 400px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.12), 1px 0 2px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  background-color: #fff;
  padding: 50px;
  max-width: 500px;
  min-width: 350px;
  margin: 20px 10px;
}
/* line 229, ../../compass/sass/styles.scss */
.work-item p, .edu-item p {
  padding: 5px;
  text-align: center;
}
/* line 233, ../../compass/sass/styles.scss */
.work-item ul, .edu-item ul {
  list-style: square;
}
/* line 236, ../../compass/sass/styles.scss */
.work-item li, .edu-item li {
  padding: 5px 0;
}

/* line 242, ../../compass/sass/styles.scss */
.work-img img, .edu-img img {
  display: block;
  margin: auto;
  max-width: 150px;
  border-bottom: rgba(0, 0, 0, 0.12);
}

/* line 250, ../../compass/sass/styles.scss */
.title {
  font-size: 18px;
  font-family: 'Merriweather';
  letter-spacing: .5px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 5px;
}

/* line 260, ../../compass/sass/styles.scss */
.years {
  font-size: 14px;
  text-align: center;
}
