/* line 2, ../../compass/sass/styles.scss */
body {
  background-color: #f7f7f7;
}

/* line 6, ../../compass/sass/styles.scss */
.App {
  font-family: 'Montserrat', sans-serif;
}

/* line 15, ../../compass/sass/styles.scss */
.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  font-size: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.88);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
}

/* line 35, ../../compass/sass/styles.scss */
.header-brand {
  position: absolute;
}
/* line 37, ../../compass/sass/styles.scss */
.header-brand a {
  text-decoration: none;
  color: #000;
}

/* line 43, ../../compass/sass/styles.scss */
.header-menu-items {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* line 50, ../../compass/sass/styles.scss */
.menu-item {
  padding: 20px 20px;
}
/* line 52, ../../compass/sass/styles.scss */
.menu-item a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

/* line 59, ../../compass/sass/styles.scss */
.active-experience {
  border-bottom: 3px solid #BA160C;
}

/* line 63, ../../compass/sass/styles.scss */
.active-education {
  border-bottom: 3px solid #FFA630;
}

/* line 67, ../../compass/sass/styles.scss */
.active-projects {
  border-bottom: 3px solid #7CA982;
}

/* line 71, ../../compass/sass/styles.scss */
.active-contact {
  border-bottom: 3px solid #3993DD;
}

/* line 77, ../../compass/sass/styles.scss */
.home {
  padding-top: 54px;
}

/* line 81, ../../compass/sass/styles.scss */
.home-container {
  height: 600px;
  background: url("../images/pct.jpg") no-repeat center;
  background-size: cover;
  font-size: 70px;
  color: #fff;
}

/* line 91, ../../compass/sass/styles.scss */
.home-text {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

/* line 96, ../../compass/sass/styles.scss */
.pusher {
  height: 100px;
}

/* line 101, ../../compass/sass/styles.scss */
.about-menu {
  background-color: #E6EBE0;
  display: flex;
  height: 40px;
  text-decoration: none;
  flex-direction: row;
  justify-content: space-around;
}

/* line 110, ../../compass/sass/styles.scss */
.about-container {
  margin: auto;
  max-width: 500px;
  background-color: #fff;
  padding: 50px;
}

/* line 117, ../../compass/sass/styles.scss */
.skills {
  margin-top: 80px;
}

/* line 121, ../../compass/sass/styles.scss */
.skills-container {
  display: flex;
  text-decoration: none;
  flex-direction: row;
  justify-content: space-around;
}

/* line 128, ../../compass/sass/styles.scss */
#skills-title {
  margin: 20px;
  text-align: center;
}

/* line 133, ../../compass/sass/styles.scss */
.skills-1 div {
  padding: 3px;
}

/* line 137, ../../compass/sass/styles.scss */
.skills-2 div {
  padding: 3px;
}

/* line 142, ../../compass/sass/styles.scss */
.experience, .education, .projects, .contact {
  padding-top: 54px;
}

/* line 147, ../../compass/sass/styles.scss */
.section-header {
  width: 150px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 0 2px rgba(255, 255, 255, 0.8);
  border-radius: 0 0 5px 5px;
}

/* line 160, ../../compass/sass/styles.scss */
.experience-container, .edu-container, .projects-container, .contact-container {
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.12), 1px 0 2px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
}

/* line 164, ../../compass/sass/styles.scss */
.experience-container {
  border-top: 5px solid #BA160C;
  background-color: rgba(186, 22, 12, 0.3);
}

/* line 170, ../../compass/sass/styles.scss */
#experience-header {
  background-color: #BA160C;
}

/* line 176, ../../compass/sass/styles.scss */
.edu-container {
  border-top: 5px solid #FFA630;
  background-color: rgba(255, 166, 48, 0.3);
}

/* line 181, ../../compass/sass/styles.scss */
#education-header {
  background-color: #FFA630;
}

/* line 185, ../../compass/sass/styles.scss */
.projects-container {
  border-top: 5px solid #7CA982;
  min-height: 400px;
  background-color: rgba(124, 169, 130, 0.3);
}

/* line 191, ../../compass/sass/styles.scss */
#projects-header {
  background-color: #7CA982;
}

/* line 195, ../../compass/sass/styles.scss */
.contact-container {
  border-top: 5px solid #3993DD;
  min-height: 800px;
  background-color: rgba(57, 147, 221, 0.3);
}

/* line 201, ../../compass/sass/styles.scss */
#contact-header {
  background-color: #3993DD;
}

/* line 205, ../../compass/sass/styles.scss */
.item-wrapper {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

/* line 212, ../../compass/sass/styles.scss */
.work-item, .edu-item {
  min-height: 400px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.12), 1px 0 2px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  background-color: #fff;
  padding: 50px;
  max-width: 500px;
  min-width: 350px;
  margin: 20px 10px;
}
/* line 220, ../../compass/sass/styles.scss */
.work-item p, .edu-item p {
  padding: 5px;
  text-align: center;
}
/* line 224, ../../compass/sass/styles.scss */
.work-item ul, .edu-item ul {
  list-style: square;
}
/* line 227, ../../compass/sass/styles.scss */
.work-item li, .edu-item li {
  padding: 5px 0;
}

/* line 232, ../../compass/sass/styles.scss */
.work-img, .edu-img {
  display: block;
  margin: auto;
  max-width: 150px;
  border-bottom: rgba(0, 0, 0, 0.12);
}

/* line 239, ../../compass/sass/styles.scss */
.title {
  font-family: 'Georgia';
  font-weight: bold;
  text-align: center;
  padding-bottom: 5px;
}

/* line 246, ../../compass/sass/styles.scss */
.years {
  font-family: 'Georgia';
  font-size: 14px;
  font-style: italic;
  text-align: center;
}
